.loginContainer{
    float: center;
    text-align: center;
}
.navbar .mainLogo{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    float: right;
}

.navbar #mainLogoContainer{
    height: 55px;
    width:  55px;
    margin-left: 3%;
}

.navbar{
    
    overflow: hidden;
    text-align: center;
    float: center;
    display:flex;
    /*border: solid;*/
    border-color: black;
  
}

#mainHr{
    margin: 10px -20px 0px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

.loginContainer #continueButton{
    float: center;
    text-align: center;
    color:white;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(95, 95, 242);
    border: 2px solid rgb(78, 78, 222);
    border-radius: 20px;
    padding: 0.8% 8.8%;

}
.loginContainer #continueFacebook{
    float: center;
    text-align: center;
    color:white;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4267b2;
    border: #4267b2;
    border-radius: 20px;
    padding: 1% 5%;

}
.loginContainer #continueGoogle{
    float: center;
    text-align: center;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: thin solid #888;
    background-color: #fff;
    border-radius: 20px;
    padding: 1% 5.6%;

}
.loginContainer #continueApple{
    float: center;
    text-align: center;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: thin solid #888;
    background-color: #fff;
    border-radius: 20px;
    padding: 1% 5.9%;

}

.signin-msg{
    float: center;
    text-align: center;
    padding-bottom: 15px;
}

.heading{
    margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #151e27;
}
.sub-heading{
    font-size: 17px;
    max-width: 340px;
    font-family: Arial, Helvetica, sans-serif;
}
.sub-heading a {
    text-decoration: underline;
  color: #3665f3;
  cursor: pointer;
}
