body{
    background-color: #fafcfa;
    overflow-x:hidden; 
}

/*################# NAVIGATION BAR ###########################*/

.loginContainer{
    float: center;
    text-align: center;
}
.navbar .mainLogo{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    float: right;
}

.navbar #mainLogoContainer{
    height: 55px;
    width:  55px;
    margin-left: 3%;
}

.navbar{
    
    overflow: hidden;
    text-align: center;
    float: center;
    display:flex;
    /*border: solid;*/
    border-color: black;
  
}

#mainHr{
    margin: 10px -20px 0px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

.navbar #signin-third-msg{
    padding-top: 2%;
    margin-left: 78%;
}

.sub-heading{
    font-size: 17px;
    max-width: 340px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
.sub-heading a {
    text-decoration: underline;
  color: #3665f3;
  cursor: pointer;
}
/*################# NAVIGATION BAR END ###########################*/

.buyerImage img {
    object-fit: cover;
    width: 50%;
    height: 1000px;
    max-width: 1679px;
    float: left;
    
  }
.createTitle {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    border-radius: 10%;
    float: right;
    margin-right: 300px;
    margin-top: 50px;
    

  }

/*********** USERNAME BOXES ********/

.first-name-container{
    float: center;
    text-align: center;
    margin-top: 180px;
    margin-left: 1000px;
	display: flex;
	
}

.fn-box{
	width: 100%;
	max-width: 200px;
	box-sizing: border-box;
	border-radius: 5px;
    margin-right: 20px;
    
}
.fn-input-group{
	position: relative;
}
.fn-inputText{
    font-size: 15px;
    text-align: center;
	padding-top: 25px;
    padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #7f8080;
    border-radius: 10px;
    

}
.fn-inputTitle{
	position: absolute;
	top: 10px;
	left: 8px;
    margin-left: 2%;
	font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
	color: #131212;
	transition: 0.2s;
	pointer-events: none;
}
.fn-inputText:not(:placeholder-shown) +.fn-inputTitle,
.fn-inputText:focus +.fn-inputTitle {
	color: transparent;
}
.fn-inputText:focus + .fn-inputTitle{
	top: -15px;
	color: rgb(178, 180, 178);
	background-color: white;
    transform: -5px;
}

.ln-box{
    margin-right: 10px;
	width: 100%;
	max-width: 200px;
	box-sizing: border-box;
	border-radius: 5px;
    
    
}
.ln-input-group{
	position: relative;
}
.ln-inputText{
    font-size: 15px;
    text-align: center;
	padding-top: 25px;
    padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #7f8080;
    border-radius: 10px;
}

.ln-inputTitle{
	position: absolute;
	top: 10px;
	left: 8px;
    margin-left: 2%;
	font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
	color: #131212;
	transition: 0.2s;
	pointer-events: none;
}
.ln-inputText:not(:placeholder-shown) +.ln-inputTitle,
.ln-inputText:focus +.ln-inputTitle {
	color: transparent;
}
.ln-inputText:focus + .ln-inputTitle{
	top: -15px;
	color: rgb(178, 180, 178);
	background-color: white;
    transform: -5px;
}

.email-container{
    margin-right: 75px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.email-box{
	width: 100%;
	max-width: 420px;
	box-sizing: border-box;
	border-radius: 5px;
    
}
.input-group{
	position: relative;
}
.inputText{
    font-size: 15px;
    text-align: center;
	padding-top: 25px;
    padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #7f8080;
    border-radius: 10px;
    

}
.inputTitle{
	position: absolute;
	top: 10px;
	left: 8px;
    margin-left: 2%;
	font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
	color: #131212;
	transition: 0.2s;
	pointer-events: none;
}
.inputText:not(:placeholder-shown) +.inputTitle,
.inputText:focus +.inputTitle {
	color: transparent;
}
.inputText:focus + .inputTitle{
	top: -15px;
	color: rgb(178, 180, 178);
	background-color: white;
    transform: -5px;
}

.password-container{
    margin-right: 75px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.pass-box{
	width: 100%;
	max-width: 420px;
	box-sizing: border-box;
	border-radius: 5px;
    
}
.pass-input-group{
	position: relative;
}
.pass-inputText{
    font-size: 15px;
    text-align: center;
	padding-top: 25px;
    padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #7f8080;
    border-radius: 10px;
    

}
.pass-inputTitle{
	position: absolute;
	top: 10px;
	left: 8px;
    margin-left: 2%;
	font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
	color: #131212;
	transition: 0.2s;
	pointer-events: none;
}
.pass-inputText:not(:placeholder-shown) +.pass-inputTitle,
.pass-inputText:focus +.pass-inputTitle {
	color: transparent;
}
.pass-inputText:focus + .pass-inputTitle{
	top: -15px;
	color: rgb(178, 180, 178);
	background-color: white;
    transform: -5px;
}

/*********** USERNAME BOXES END ********/

/**************** CONTINUE BUTTONS *********/
.continueButton{
    float: center;
    text-align: center;
    color:white;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(95, 95, 242);
    border: 2px solid rgb(78, 78, 222);
    border-radius: 20px;
    padding: 1% 9%;
    max-width: 500px;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: content-box;
    
}

.continueButton:hover {
    background-color:rgb(70, 70, 243);
    color: white;
}

.accountCreator-container{
    float: center;
    text-align: center;
    margin-right: 75px;
}

.continue-message{
    float: center;
    text-align: center;
    margin-right: 70px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.socialMediaButtons{
    float: center;
    text-align: center;
    display: flex;

}

.continueFacebook{
   margin-left: 160px; 
    color:white;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4267b2;
    border: #4267b2;
    border-radius: 20px;
    padding: 1% 3%;
    max-width: 500px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.continueFacebook:hover {
    background-color:#183c83;
    color: white;
}

.continueGoogle{
    margin-left: 14px;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: thin solid #888;
    background-color: #fff;
    border-radius: 20px;
    padding: 1.5% 3.5%;
    max-width: 500px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.continueGoogle:hover {
    background-color:#c0c0c0;
    color: black;
}
.continueApple{
    margin-left: 14px;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: thin solid #888;
    background-color: #fff;
    border-radius: 20px;
    padding: 1.5% 3.5%;
    max-width: 500px;
    cursor: pointer;

}
.continueApple:hover {
    background-color:#c0c0c0;
    color: black;
}

/**************** CONTINUE BUTTONS END *********/