body{
    background-color: #fafcfa;
}
.navbar .mainLogo{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    float: right;
}

.navbar #mainLogoContainer{
    max-height: 55px;
    max-width:  55px;
    margin-left: 3%;
}

.navbar #mainProfileContainer{
    max-width: 50px;
    max-height: 50px;
    margin-left: 40%;
    border-radius: 90%;
}

.navbar #mainProfileImage{
    height: 100%;
    width: 100%;
    border: 0px solid;
    border-radius: 90%;
}

.navbar{
    
    overflow: hidden;
    text-align: center;
    float: center;
    display:flex;
    /*border: solid;*/
    border-color: black;
  
}

.navbar #searchBar{
   
    padding: 10px;
    margin-left: 2%;
    width: 40%;
    font-size: 25px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 30px;


}

.navbar #category{
    font-size: 15px;
    background-color: lightskyblue;
    border: 1px solid grey;
    border-radius: 10%;
}

#mainHr{
    margin: 10px -20px 0px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

#categoryBar{
    border: 0px solid;
    display: flex;
    float: center;
    text-align: center;
    background-color: bisque;
    margin: 0px -20px 0px;
    width: auto;
    height: auto;

  
}

#categoryBar .categoryBarItems{
    margin-left: 1%;
    font-size: auto;
    border: 0px solid grey;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: black;
    color: white;

   
    
    
}

#categoryBar #categoryBarFavorites{
    margin-left: 5%;
    font-size: auto;
    border: 0px solid grey;
    background-color: #a7f4b0;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
   
    
    
}


#categoryBarHr{
    margin: 0px -20px 0px;
    border: 0 solid;
    border-top: 1px solid #c9c7c7;
}

.limit400 { max-width:400px; }
.limit1980 { max-width:1980px; }